@import 'nib'

body
  margin: 0

.page-container
  font-family: Verdana
  min-height: 500px
  background: linear-gradient(to bottom, rgb(231, 255, 219), #fff)
  padding: 0 10px 0 0

button
  background-color: rgb(94, 97, 100)
  color: #fff
  font-size: 1em
  padding: 9px 20px
  border: none
  border-radius: 2px

a
  cursor: pointer

.logo
  font-family: 'Kaushan Script', cursive
  font-size: 30px
  color: rgb(94, 97, 100)

.graph-header
  font-weight: bold
  text-align: center
  margin-top: 1.5em

.graph-future
  margin-top: 15px
  text-align: center
.graph-date-scroll
  margin: 5px
.graph-date-scroll
  position: relative
