@import 'nib'

body
  margin: 0

.page-container
  font-family: Verdana
  min-height: 500px
  background: linear-gradient(to bottom, rgb(231, 255, 219), #fff)
  padding: 0 10px 0 0

button
  background-color: rgb(94, 97, 100)
  color: #fff
  font-size: 1em
  padding: 10px 20px
  border: none
  border-radius: 2px

a
  cursor: pointer

.graph-header
  margin: 2em 2em 0 0
  text-align: right