head
  title burnrate

body
  +topbar
  +graph(graph_id="past_graph")
  +graph(graph_id="future_graph")

template(name="topbar")
  nav.top-bar.sticky
    .title-area
    li.name 
      h1
        a(href="#") What If?

