head
  title burnrate

body
  .page-container
    +main

template(name='main')
  if currentUser
    +navbar
    +accounts
    .graph-header Past
    +graph(graph_id="past_graph")
    .graph-header Future
    +graph(graph_id="future_graph")
    +transactions
  else if isLoggingIn
    div loading...
  else
    +login
