head
  title What if?
  link(href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')

body
  .page-container
    +main

template(name='main')
  if currentUser
    +navbar
    +whatIf
    +accounts
    .graph-header.past Past Month
    +graph(graph_id="past_graph")
    div.graph-future
      a.graph-date-scroll.left &#10094;
      span.graph-header.future
      a.graph-date-scroll.right &#10095;
    +graph(graph_id="future_graph")
    +transactions
  else if isLoggingIn
    div loading...
  else
    +login
