head
  title What if?
  link(href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')

body
  .page-container
    +main

template(name='main')
  if currentUser
    +navbar
    +whatIf
    +accounts
    .graph-header Past
    +graph(graph_id="past_graph")
    .graph-header Future
    +graph(graph_id="future_graph")
    +transactions
  else if isLoggingIn
    div loading...
  else
    +login
