template(name='navbar')
  #navbar
    .logo What If?
    with currentUser.profile
      .navbar-section
        div #{firstName} #{lastName}
        #logout-link
          a#logout Log Out
      .navbar-section
        img.user-img(src=thumbnailUrl)
