@import 'nib'

#what-if
  text-align: center
  margin-bottom: 2em

  input
    width: 70px
    font-size: 1.1em
    padding: .3em
    background-color: rgb(251, 255, 248)

  button
    margin-left: 1em