template(name='login')
  #login-container
    #login-box
      .control-container
        input#username(placeholder='Username')
      .control-container
        input#password(placeholder='Password')
      .control-container
        button#login Log In