template(name='login')
  #login-container
    #login-box
      .logo-container
        .logo What If?
      .control-container
        input#username(placeholder='Username')
      .control-container
        input#password(placeholder='Password',type='password')
      .control-container
        button#login Log In
