#login-container
  padding-top: 6em

  #login-box
    max-width: 280px
    margin: 0 auto
    padding: 3em
    border-radius: 2px

    .logo-container
      text-align: center
      margin-bottom: 3em

    .control-container
      margin-bottom: 1em
      border: none

      input
        width: 95%
        font-size: 1.1em
        padding: .3em
        background-color: rgb(251, 255, 248)

      button
        width: 100%
        margin-top: 2em
