template(name="transactions")
  if transactions
    table#transactions-table
      tr
        th Date
        th Amount
        th Category
        th Status
      each transactions
        tr
          td #{formatTime}
          td #{amount}
          td #{categorization}
          td
            if isPending
              | Pending
            else
              | Approved
